name: Publish Package
on:
  release:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - registry-url: 'https://registry.npmjs.org'
            command: npm publish --access public
            token: NPM_TOKEN
          - registry-url: 'https://npm.pkg.github.com'
            command: npm publish
            token: GITHUB_TOKEN

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'
          registry-url: ${{ matrix.registry-url }}
          scope: '@erc725'
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - run: ${{ matrix.command }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets[matrix.token] }}
